<header>
  <section class="header-row">
    <div
      id="locacao"
      class="header-item"
      style="background-color: #f97d00"
      (click)="setColorActivatedItem($event)"
    >
      Locação
    </div>
    <div
      id="frotas"
      class="header-item"
      style="background-color: #6f42c1"
      (click)="setColorActivatedItem($event)"
    >
      Frotas
    </div>
    <div
      id="seminovos"
      class="header-item"
      style="background-color: #1976d2"
      (click)="setColorActivatedItem($event)"
    >
      Seminovos
    </div>
    <div
      id="zerokm"
      class="header-item"
      style="background-color: #000000"
      (click)="setColorActivatedItem($event)"
    >
      Zero KM
    </div>
  </section>

  <section class="header" [ngStyle]="{ 'background-color': active }">
    <div>
      <img
        src="./assets/images/rentcar-logo.png"
        class="img-fluid"
        alt="RentCar"
      />

      <div class="d-flex justify-content-between">
        <div class="icon-padding">
          <fa-icon [icon]="faPhoneAlt"></fa-icon>
          <a class="icon-layout">CONTATO</a>
        </div>

        <div class="icon-padding">
          <fa-icon [icon]="faQuestionCircle"></fa-icon>
          <a class="icon-layout">AJUDA</a>
        </div>

        <div class="icon-padding">
          <fa-icon [icon]="faCar"></fa-icon>
          <a class="icon-layout">MINHAS RESERVAS</a>
        </div>

        <div class="icon-padding">
          <fa-icon [icon]="faUserCircle"></fa-icon>
          <a class="icon-layout">ENTRAR</a>
          <fa-icon [icon]="faChevronDown"></fa-icon>
        </div>
      </div>
    </div>
  </section>
</header>
