$width: 100%;

.header {
  width: $width;
  height: 64px;
  min-height: 107px;
  display: flex;
}

.header-row {
  width: $width;
  display: inline-flex;
  padding: 0 8%;
}

.header > div {
  padding: 0 8%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.header-item {
  color: #fff;
  background-color: black;
  width: 160px;
  text-align: center;
  height: 35px;
  border-radius: 10px 10px 0px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.icon-padding {
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
}

.icon-layout {
  color: #fff;
  padding-left: 7px;
  padding-right: 7px;
  font-weight: bold;
  font-size: 14px;
  text-decoration: none;
}

.icon-padding > fa-icon {
  color: #ffff;
}

#locacao {
  background-color: #f97d00;
}

#frotas {
  background-color: #6f42c1;
}

#seminovos {
  background-color: #1976d2;
}

#zerokm {
  background-color: #000000;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .header > div {
    flex-direction: column;
  }
}
