<div class="header-row">
  <div class="header-item" style="background-color: #f97d00">Locação</div>
  <div class="header-item" style="background-color: #6f42c1">Frotas</div>
  <div class="header-item" style="background-color: #1976d2">Seminovos</div>
  <div class="header-item" style="background-color: #000000">Zero KM</div>
</div>
<div class="header">
  <div
    class="container"
    style="align-items: center; display: flex; max-width: 1530px !important"
  >
    <img src="./assets/images/rentcar.png" class="img-fluid" alt="RentCar" />
  </div>
</div>
